.right-bar{
    display: flex;
    background-color: rgb(47, 255, 0);
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
}

    .right-bar-all-elements{}

        .right-bar-all-elements-DIV-1{}

            .title-ellipsis-and-expansion{}

                .title-right-bar{}

                    .title-right-bar-TXT{}
                                

                .ellipsis-right-bar{}

                    .ellipsis-right-bar-TXT{}
                                

                .expansion-right-bar{}

                    .expansion-right-bar-TXT{}
                                        

            .the-playlist-cover-page-rightbar{}

                .the-playlist-cover-page-rightbar-PNG{}
                        

            .the-title-of-song-right-bar{}

                .the-title-of-song-right-bar-DIV1{}

                    .the-title-only-right-bar{}

                        .the-title-only-right-bar-DIV1{}
                        

                        .the-title-only-right-bar-DIV2{}
                                        

                    .tickmark-right-bar{}

                        .tickmark-right-bar-TXT{}
                                                                

        .right-bar-all-elements-DIV-2{}

            .right-bar-box-1{}

                .right-bar-box-1-artist-txt{}

                    .right-bar-box-1-artist-TXT{}
                                

                .right-bar-box-1-ARTIST-IMAGE{}

                    .right-bar-box-1-ARTIST-IMAGE-PNG{}
                                

                .right-bar-box-1-authorname-listeners-followbutton{}

                    .right-bar-box-1-authorname-text{}

                        .right-bar-box-1-authorname-text-TXT{}
                                        

                    .right-bar-box-1-listeners-followbutton{}

                        .right-bar-box-1-listeners{}

                            .right-bar-box-1-listeners-TXT{}
                                                

                        .right-bar-box-1-followbutton{}

                            .right-bar-box-1-followbutton{}
                                                                            

                .right-bar-box-1-author-description{}

                    .right-bar-box-1-author-description-TXT{}
                                        

            .right-bar-box-2{}

                .right-bar-box-2-credits-showall{}

                    .right-bar-box-2-credits{}

                        .right-bar-box-2-credits-TXT{}
                                        

                    .right-bar-box-2-showall{}

                        .right-bar-box-2-showall-TXT{}
                                                    

                .right-bar-box-2-artist-name-follow-button{}

                    .right-bar-box-2-artist-name-composer{}

                        .right-bar-box-2-artist-name{}

                            .right-bar-box-2-artist-name-TXT{}
                                                

                        .right-bar-box-2-composer{}

                            .right-bar-box-2-composer-TXT{}
                                                                

                    .right-bar-box-2-follow-button{}

                        .right-bar-box-2-follow-button-BTN{}
                                                            

            .right-bar-box-3{}

                .right-bar-box-3-nextinqueue-openqueue{}

                    .right-bar-box-3-nextinqueue{}

                        .right-bar-box-3-nextinqueue-TXT{}
                                        

                    .right-bar-box-3-openqueue{}

                        .right-bar-box-3-openqueue-TXT{}
                                                    

                .right-bar-box-3-next-track{}

                    .right-bar-box-3-next-track-image-songname-artistname{}

                        .right-bar-box-3-next-track-image{}

                            .right-bar-box-3-next-track-image-PNG{}
                                                

                        .right-bar-box-3-next-track-songname-artistname{}

                            .right-bar-box-3-next-track-songname{}

                                .right-bar-box-3-next-track-songname-TXT{}
                                                        

                            .right-bar-box-3-next-track-artistname{}

                                .right-bar-box-3-next-track-artistname-TXT{}